Development/de.dlr.premise.view.graphml/model/sourceSchemas/ygraphml.xsd

<?xml version="1.0"?>

<!-- Header -->
<xs:schema
    targetNamespace="http://graphml.graphdrawing.org/xmlns"

    xmlns="http://graphml.graphdrawing.org/xmlns"
    xmlns:g="http://graphml.graphdrawing.org/xmlns"
    xmlns:y="http://www.yworks.com/xml/graphml"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xlink="http://www.w3.org/1999/xlink"

    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    >

  <xs:annotation>
    <xs:documentation>
      GraphML core language definitions including GraphML attributes and GraphML parseinfo.
    </xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.yworks.com/xml/graphml" schemaLocation="yfeatures.xsd"/>

  <!--<xs:include schemaLocation="graphml-parseinfo.xsd"/>-->

<xs:redefine schemaLocation="graphml-structure.xsd">

  <!--redefinition as in graphml-attributes.xsd -->

  <xs:attributeGroup name="key.extra.attrib">
       <xs:annotation>
        <xs:documentation>
          Redefinition of file graphml-structure.xsd.
          <p>Extends the attribute group key.extra.attrib (which takes
            part in the attribute list of &lt;key>) by adding the
            attribute yfiles.type which is defined below.
          </p>
        </xs:documentation>
      </xs:annotation>
    <xs:attributeGroup ref="key.extra.attrib"/>
    <xs:attributeGroup ref="key.attributes.attrib"/>      
	  <xs:attribute name="yfiles.type" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>
            Custom yfiles specific attribute that allows to specify an additional data type.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
  </xs:attributeGroup>

  <!--redefinition as in graphml-parseinfo.xsd -->

  <xs:attributeGroup name="graph.extra.attrib">
    <xs:attributeGroup ref="graph.extra.attrib"/>
    <xs:attributeGroup ref="graph.parseinfo.attrib"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="node.extra.attrib">
  <xs:annotation>
        <xs:documentation>
          Redefinition of file graphml-structure.xsd.
          <p>Extends the attribute group node.extra.attrib (which takes
            part in the attribute list of &lt;node>) by adding a
            yfiles specific attribute for the folder type.
          </p>
        </xs:documentation>
      </xs:annotation>
    <xs:attributeGroup ref="node.extra.attrib"/>
    <xs:attributeGroup ref="node.parseinfo.attrib"/>
	      <xs:attribute name="yfiles.foldertype" type="yfiles.foldertype.type" use="optional">
        <xs:annotation>
          <xs:documentation>
            The foldertype for group/folder nodes.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
  </xs:attributeGroup>

</xs:redefine>

  
  <!-- Redefinition of the elements in the graphml-structure schema -->
  <xs:redefine schemaLocation="graphml.xsd">
    <xs:complexType name="data-extension.type">
      <xs:complexContent mixed="true">
        <xs:extension base="data-extension.type">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="strict"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:redefine>
  
<!--types as in graphml-attributes.xsd -->

<xs:simpleType final="#all" name="key.name.type">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/(Dokumentation der Attributes Erweiterung; entsprechende Stelle.html)" xml:lang="en">
      Simple type for the attr.name attribute of &lt;key&gt;.
      key.name.type is final, that is, it may not be extended
                          or restricted.
      key.name.type is a restriction of xs:NMTOKEN
      Allowed values: (no restriction)
    </xs:documentation>
  </xs:annotation>

  <xs:restriction base="xs:NMTOKEN"/>

</xs:simpleType>



<xs:simpleType final="#all" name="key.type.type">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/(Dokumentation der Attributes Erweiterung; entsprechende Stelle.html)" xml:lang="en">
      Simple type for the attr.type attribute of &lt;key&gt;.
      key.type.type is final, that is, it may not be extended
                          or restricted.
      key.type.type is a restriction of xs:NMTOKEN
      Allowed values: boolean, int, long, float, double, string.
    </xs:documentation>
  </xs:annotation>

  <xs:restriction base="xs:NMTOKEN">  
    <xs:enumeration value="boolean"/>
    <xs:enumeration value="int"/>
    <xs:enumeration value="long"/>
    <xs:enumeration value="float"/>
    <xs:enumeration value="double"/>
    <xs:enumeration value="string"/>
  </xs:restriction>

</xs:simpleType>


<xs:attributeGroup name="key.attributes.attrib">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
     Definition of the attribute group key.attributes.attrib.
     This group consists of the two optional attributes
         - attr.name (gives the name for the data function)
         - attr.type ((declares the range of values for the data function)
    </xs:documentation>
  </xs:annotation>

  <xs:attribute name="attr.name" type="key.name.type" use="optional"/>
  <xs:attribute name="attr.type" type="key.type.type" use="optional"/>
</xs:attributeGroup>

  <!--types as in graphml-parseinfo.xsd -->

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
       Simple type definitions for the new graph attributes.
    </xs:documentation>
  </xs:annotation>

<xs:simpleType final="#all" name="graph.order.type">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
      Simple type for the parse.order attribute of &lt;graph&gt;.
      graph.order.type is final, that is, it may not be extended
                          or restricted.
      graph.order.type is a restriction of xs:NMTOKEN
      Allowed values: free, nodesfirst, adjacencylist.
    </xs:documentation>
  </xs:annotation>

  <xs:restriction base="xs:NMTOKEN">
    <xs:enumeration value="free"/>
    <xs:enumeration value="nodesfirst"/>
    <xs:enumeration value="adjacencylist"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType final="#all" name="graph.nodes.type">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
      Simple type for the parse.nodes attribute of &lt;graph&gt;.
      graph.nodes.type is final, that is, it may not be extended
                          or restricted.
      graph.nodes.type is a restriction of xs:nonNegativeInteger
      Allowed values: (no restriction).
    </xs:documentation>
  </xs:annotation>

  <xs:restriction base="xs:nonNegativeInteger"/>  
</xs:simpleType>

<xs:simpleType final="#all" name="graph.edges.type">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
      Simple type for the parse.edges attribute of &lt;graph&gt;.
      graph.edges.type is final, that is, it may not be extended
                          or restricted.
      graph.edges.type is a restriction of xs:nonNegativeInteger
      Allowed values: (no restriction).
    </xs:documentation>
  </xs:annotation>

  <xs:restriction base="xs:nonNegativeInteger"/>  
</xs:simpleType>

<xs:simpleType final="#all" name="graph.maxindegree.type">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
      Simple type for the parse.maxindegree attribute of &lt;graph&gt;.
      graph.maxindegree.type is final, that is, it may not be extended
                          or restricted.
      graph.maxindegree.type is a restriction of xs:nonNegativeInteger
      Allowed values: (no restriction).
    </xs:documentation>
  </xs:annotation>

  <xs:restriction base="xs:nonNegativeInteger"/>  
</xs:simpleType>

<xs:simpleType final="#all" name="graph.maxoutdegree.type">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
      Simple type for the parse.maxoutdegree attribute of &lt;graph&gt;.
      graph.maxoutdegree.type is final, that is, it may not be extended
                          or restricted.
      graph.maxoutdegree.type is a restriction of xs:nonNegativeInteger
      Allowed values: (no restriction).
    </xs:documentation>
  </xs:annotation>

  <xs:restriction base="xs:nonNegativeInteger"/>  
</xs:simpleType>

<xs:simpleType final="#all" name="graph.nodeids.type">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
      Simple type for the parse.nodeids attribute of &lt;graph&gt;.
      graph.nodeids.type is final, that is, it may not be extended
                          or restricted.
      graph.nodeids.type is a restriction of xs:string
      Allowed values: (no restriction).
    </xs:documentation>
  </xs:annotation>

  <xs:restriction base="xs:NMTOKEN">
    <xs:enumeration value="canonical"/>
    <xs:enumeration value="free"/>
  </xs:restriction>  
</xs:simpleType>

<xs:simpleType final="#all" name="graph.edgeids.type">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
      Simple type for the parse.edgeids attribute of &lt;graph&gt;.
      graph.edgeids.type is final, that is, it may not be extended
                          or restricted.
      graph.edgeids.type is a restriction of xs:string
      Allowed values: (no restriction).
    </xs:documentation>
  </xs:annotation>

  <xs:restriction base="xs:NMTOKEN">
    <xs:enumeration value="canonical"/>
    <xs:enumeration value="free"/>
  </xs:restriction>  
</xs:simpleType>

<xs:attributeGroup name="graph.parseinfo.attrib">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
     Definition of the attribute group graph.parseinfo.attrib.
     This group consists of the seven attributes
     - parse.nodeids (fixed to 'canonical' meaning that the id attribute
                      of &lt;node&gt; follows the pattern 'n[number]),
     - parse.edgeids (fixed to 'canonical' meaning that the id attribute
                      of &lt;edge&gt; follows the pattern 'e[number]),
     - parse.order (required; one of the values 'nodesfirst', 
                    'adjacencylist' or 'free'),
     - parse.nodes (required; number of nodes in this graph), 
     - parse.edges (required; number of edges in this graph), 
     - parse.maxindegree (optional; maximal indegree of a node in this graph),
     - parse.maxoutdegree (optional; maximal outdegree of a node in this graph)
    </xs:documentation>
  </xs:annotation>

  <xs:attribute name="parse.nodeids" type="graph.nodeids.type"/>
  <xs:attribute name="parse.edgeids" type="graph.edgeids.type"/>
  <xs:attribute name="parse.order" type="graph.order.type"/>
  <xs:attribute name="parse.nodes" type="graph.nodes.type"/>
  <xs:attribute name="parse.edges" type="graph.edges.type"/>
  <xs:attribute name="parse.maxindegree" type="graph.maxindegree.type" use="optional"/>
  <xs:attribute name="parse.maxoutdegree" type="graph.maxoutdegree.type" use="optional"/>
</xs:attributeGroup>



  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
       Simple type definitions for the new node attributes.
    </xs:documentation>
  </xs:annotation>

<xs:simpleType final="#all" name="node.indegree.type">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
      Simple type for the parse.indegree attribute of &lt;node&gt;.
      node.indegree.type is final, that is, it may not be extended
                          or restricted.
      node.indegree.type is a restriction of xs:nonNegativeInteger
      Allowed values: (no restriction).
    </xs:documentation>
  </xs:annotation>

  <xs:restriction base="xs:nonNegativeInteger"/>  
</xs:simpleType>

<xs:simpleType final="#all" name="node.outdegree.type">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
      Simple type for the parse.outdegree attribute of &lt;node&gt;.
      node.outdegree.type is final, that is, it may not be extended
                          or restricted.
      node.outdegree.type is a restriction of xs:nonNegativeInteger
      Allowed values: (no restriction).
    </xs:documentation>
  </xs:annotation>

  <xs:restriction base="xs:nonNegativeInteger"/>  
</xs:simpleType>

<xs:attributeGroup name="node.parseinfo.attrib">

  <xs:annotation>
    <xs:documentation source="http://graphml.graphdrawing.org/" xml:lang="en">
     Definition of the attribute group node.parseinfo.attrib.
     This group consists of two attributes
     - parse.indegree (optional; indegree of this node),
     - parse.outdegree (optional; outdegree of this node).
    </xs:documentation>
  </xs:annotation>

  <xs:attribute name="parse.indegree" type="node.indegree.type" use="optional"/>
  <xs:attribute name="parse.outdegree" type="node.outdegree.type" use="optional"/>
</xs:attributeGroup>

  <!-- Type of Grouping -->
  <xs:simpleType name="yfiles.foldertype.type">
    <xs:annotation>
      <xs:documentation>
        The valid folder types for a folder/group node.
        <p>Valid values are
          <ul>
            <li><b>folder</b>: for folder nodes</li>
            <li><b>group</b>: for group nodes</li>
            <li><b>leaf</b>: for leaf nodes (this is the implied value)</li>
          </ul>
        </p>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="folder"/>
      <xs:enumeration value="group"/>
      <xs:enumeration value="leaf"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>


